


 {% extends 'layout.html' %}
    {% load static %}
    {% block 'main' %}

  <div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{% static 'images/blog_1.jpg'%}" alt="Image placeholder" class="img-fluid ">
                <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a> -->

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            
            
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>"Welcome to Stepstyle Shoes, where fashion meets comfort with every step. At Stepstyle, we're dedicated to providing you with the perfect blend of style and functionality, ensuring that each pair of shoes not only elevates your look but also supports your lifestyle. Step into a world where quality craftsmanship meets modern design, where every shoe tells a story of sophistication and comfort. Explore our vast collection of footwear crafted to suit every occasion and taste, and embark on a journey of self-expression through your footwear choices. Whether you're strolling through the city streets or striding into a boardroom meeting, Stepstyle Shoes promises to accompany you every step of the way, leaving a lasting impression wherever you go."</p>
            
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
  
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/Rushi.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Rushikesh Thokale</h3>
                  <p class="block-38-subheading">Founder</p>
                </div>
                <div class="block-38-body">
                  <p>With a focus on quality and innovation, we craft shoes that embody sophistication and durability, redefining footwear one step at a time." </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/Kuldeep.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Kuldeep Patil</h3>
                  <p class="block-38-subheading">Co-Founder</p>
                </div>
                <div class="block-38-body">
                  <p>With a relentless drive for excellence, we continue to push boundaries, shaping the future of footwear with every step."</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/Kshitij.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Kshitij Warankar</h3>
                  <p class="block-38-subheading">Marketing</p>
                </div>
                <div class="block-38-body">
                  <p>With an eye for innovation and a passion for reaching new heights, Kshitij Warankar leads our marketing endeavors.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{% static 'images/Pankaj.jpg'%}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Pankaj Dakare</h3>
                  <p class="block-38-subheading">Sales Manager</p>
                </div>
                <div class="block-38-body">
                  <p>With a keen understanding of market dynamics and customer needs, Pankaj ensures that Stepstyle reaches new heights in sales performance, forging lasting relationships with our valued customers."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    {% endblock 'main' %}

