{% extends 'layout.html' %}
{% load custom_filters %}
{% load static %}
{% block 'main' %}

  <body>
    {% for msg in messages %}   <!--For showing pett added to cart-->
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
        </div>
    {% endif %} <!--For showing pett added to cart-->
    {% endfor %}
  <div class="site-wrap">
    

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                 
                  {% for cart in mycart %}
                  <tr>
                    <td class="product-thumbnail">
                      <img src="{{cart.pid.pimage.url}}" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{cart.pid.name}}</h2>
                    </td>
                    <td>{{cart.pid.price}}</td>
                    <td>
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <!-- <button class="btn btn-outline-primary js-btn-minus" >   <a href="/updateqty/0/{{cart.id}}">  &minus;</a></button> -->
                          <button class="btn btn-outline-primary js-btn-minus" onclick="window.location.href='/updateqty/0/{{cart.id}}'">&minus;</button>

                        <!-- <a href="/updateqty/0/{{cart.id}}">&minus;</a> -->
                        </div>
                        <input type="text" class="form-control text-center" value="{{ cart.quantity }}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <!-- <button class="btn btn-outline-primary js-btn-plus" ><a href="/updateqty/1/{{cart.id}}" > &plus;</a></button> -->
                          <button class="btn btn-outline-primary js-btn-minus" onclick="window.location.href='/updateqty/1/{{cart.id}}'">&plus;</button>

                         <!-- <a href="/updateqty/1/{{cart.id}}">&plus;</a> -->
                        </div>
                      </div>

                    </td>
                    
                    
                    <td>{{ cart.pid.price|multiply:cart.quantity }}</td>
                   
                    
                  
                    <td><a href="/removecart/{{cart.id}}" class="btn btn-primary btn-sm">X</a></td>
                  </tr>
                  
                </tbody>
                  {% endfor %}
                  
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <!-- <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
              </div> -->
              <div class="col-md-6">
               <a href="/"> <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button></a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm">Apply Coupon</button>
              </div>
            </div> -->
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <!-- <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">$230.00</strong>
                  </div>
                </div> -->
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{ total }}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/confirmorder'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock 'main' %}